# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

**node_modules**
**.next**
unused_files_report.json
pnpm-lock.yaml
src/api/queries/get-github-commits.ts
src/app/page.tsx
src/app/dashboard/profile/page.tsx
src/components/logo.tsx
src/components/core/center.tsx
src/components/core/user-info.tsx
src/components/core/UserInfo.tsx
src/lib/utils.ts
src/modules/authenticatie/server/mutations/register.ts
src/modules/landing/components/chat-message.tsx
src/modules/landing/components/features.tsx
src/modules/landing/components/hero.tsx
src/modules/landing/components/index.ts
src/modules/landing/components/support-chat.tsx
src/modules/landing/components/charts/monitoring-chart-content.tsx
src/modules/landing/components/charts/monitoring-chart.tsx
src/modules/landing/components/github/github-stats.tsx
src/modules/landing/components/hero/hero.tsx
src/modules/landing/components/map/dotted-map.tsx
src/shared/components/core/for.tsx
src/shared/components/core/logo.tsx
src/shared/components/ui/container.tsx
src/shared/components/ui/hover-card.tsx
src/shared/components/ui/loading-spinner.tsx
src/shared/components/ui/skeleton.tsx
src/shared/components/ui/use-toast.ts
~/.config/fish/config.fish
