{
	"tabWidth": 4,
	"useTabs": true,
	"singleQuote": true,
	"semi": false,
	"trailingComma": "none",
	"printWidth": 80,
	"importOrder": [
		"^@/(.*)$",
		"^[./]"
	],
	"importOrderSeparation": true,
	"importOrderSortSpecifiers": true
}
