@keyframes custom-spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

.animate-custom-spin {
	animation: custom-spin 1.2s cubic-bezier(0.55, 0.055, 0.675, 0.19) infinite;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

.animate-fadeIn {
	animation: fadeIn 0.3s ease-in-out;
}

@keyframes slideDown {
	from {
		opacity: 0;
		transform: translateY(-10px);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}

.animate-slideDown {
	animation: slideDown 0.3s cubic-bezier(0.16, 1, 0.3, 1);
}
